body {
    background-color: #0f172a; /* Login sahifasidagi fon */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: rgba(255, 255, 255, 0.1); /* Yengil shaffof fon */
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.register-container h2 {
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.register-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: white;
}

.register-container input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.register-container button {
    margin-top: 35px;
    width: 100%;
    padding: 10px;
    background: #2563eb;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.register-container button:hover {
        background: #1e40af;
}
.text-center {
    text-align: center;
    color: white;
}

.login-link {
    color: #2563eb; /* Ko'k rang */
    font-weight: bold;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
    color: #1e40af; /* Qorong‘i ko'k */
}