<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimal Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>

    <div class="profile-container">
        <i class="fa fa-user-circle profile-icon"></i>
        <div>
        <div class="UserText">
            <h4 class="text">username</h4>
            <h4 class="username">Loading...</h4>
        </div>
        <div class="UserText">
            <h4 class="text">email</h4>
            <h4 class="status">Loading...</>
        </div>
        </div>
    </div>

</body>
</html>
